openapi: 3.1.0
info:
  title: Stipulate Card Benefit Intelligence API
  version: 1.0.0
  description: Parse stipulations. Route the payment.
  contact:
    name: Stipulate
    url: https://stipulate.io

servers:
  - url: https://api.stipulate.io/v1
    description: Production
  - url: http://localhost:3000/v1
    description: Local development

security:
  - ApiKeyAuth: []

paths:
  /route:
    post:
      operationId: routePurchase
      summary: Rank cards for a purchase
      description: Production routing engine with cap-aware scoring, exclusion checks, and CPP valuation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteRequest'
      responses:
        '200':
          description: Ranked card recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RouteResponse'
                  requestId:
                    type: string
        '422':
          description: Validation error

  /enrich:
    post:
      operationId: enrichMerchant
      summary: Resolve merchant MCC and category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichRequest'
      responses:
        '200':
          description: Merchant enrichment result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EnrichResponse'
                  requestId:
                    type: string

  /enrich/corrections:
    post:
      operationId: submitMccCorrection
      summary: Submit crowd-sourced MCC correction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MccCorrectionRequest'
      responses:
        '201':
          description: Correction submitted for review

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Money:
      type: object
      required: [amountMinor, currency]
      properties:
        amountMinor:
          type: integer
          minimum: 0
        currency:
          type: string
          minLength: 3
          maxLength: 3

    MerchantEnrichment:
      type: object
      required: [merchantName, normalizedName, confidence, source]
      properties:
        merchantName:
          type: string
        normalizedName:
          type: string
        mcc:
          type: string
          pattern: '^\\d{4}$'
        category:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        source:
          type: string
          enum: [user, mcc_db, llm, override, issuer, plaid, unknown]

    RouteRequest:
      type: object
      required: [amount, userCardIds]
      properties:
        merchantName:
          type: string
        mcc:
          type: string
          pattern: '^\\d{4}$'
        amount:
          $ref: '#/components/schemas/Money'
        userCardIds:
          type: array
          items:
            type: string
          minItems: 1
        channel:
          type: string
          default: unknown
        isInternational:
          type: boolean
          default: false
        merchantEnrichment:
          $ref: '#/components/schemas/MerchantEnrichment'
        preferences:
          type: object
          properties:
            optimizeFor:
              type: string
              enum: [max_reward, min_fees, balanced]
            excludeCardIds:
              type: array
              items:
                type: string

    RankedCard:
      type: object
      properties:
        cardId:
          type: string
        rank:
          type: integer
        score:
          type: number
        effectiveMultiplier:
          type: number
        estimatedReward:
          $ref: '#/components/schemas/Money'
        applicableRuleIds:
          type: array
          items:
            type: string
        reasoning:
          type: string

    RouteResponse:
      type: object
      properties:
        requestId:
          type: string
        rankedCards:
          type: array
          items:
            $ref: '#/components/schemas/RankedCard'
        bestCardId:
          type: string
        merchantEnrichment:
          $ref: '#/components/schemas/MerchantEnrichment'
        computedAt:
          type: string
          format: date-time
        warnings:
          type: array
          items:
            type: string

    EnrichRequest:
      type: object
      required: [merchantName]
      properties:
        merchantName:
          type: string
        rawDescriptor:
          type: string
        mcc:
          type: string
        issuer:
          type: string
        receiptOcrText:
          type: string

    EnrichResponse:
      type: object
      properties:
        requestId:
          type: string
        enrichment:
          $ref: '#/components/schemas/MerchantEnrichment'
        descriptorParsed:
          type: boolean
        receiptParsed:
          type: boolean
        cached:
          type: boolean
        enrichedAt:
          type: string
          format: date-time

    MccCorrectionRequest:
      type: object
      required: [merchantName, mcc, category]
      properties:
        merchantName:
          type: string
        mcc:
          type: string
        category:
          type: string
        confidence:
          type: number
        notes:
          type: string
