openapi: 3.1.0
info:
  title: Stipulate Card Benefit Intelligence API
  version: 1.0.0
  description: Parse stipulations. Route the payment.
  contact:
    name: Stipulate
    url: https://stipulate.io

servers:
  - url: https://api.stipulate.io/v1
    description: Production
  - url: http://localhost:3000/v1
    description: Local development

security:
  - ApiKeyAuth: []

paths:
  /route:
    post:
      operationId: routePurchase
      summary: Rank cards for a purchase
      description: Production routing engine with cap-aware scoring, exclusion checks, and CPP valuation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteRequest'
      responses:
        '200':
          description: Ranked card recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RouteResponse'
                  requestId:
                    type: string
        '422':
          description: Validation error

  /route/batch:
    post:
      operationId: routeBatch
      summary: Batch rank cards for multiple transactions
      description: Process up to 100 routing requests in a single call with shared benefit index loading.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRouteRequest'
      responses:
        '200':
          description: Batch routing results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BatchRouteResponse'
                  requestId:
                    type: string

  /webhooks:
    post:
      operationId: createWebhookSubscription
      summary: Subscribe to benefit change webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Webhook subscription created

  /usage:
    get:
      operationId: getUsageSummary
      summary: Current billing period usage summary
      responses:
        '200':
          description: Usage totals for the org

  /cards:
    get:
      operationId: listCards
      summary: Search and list cards in the catalog
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: issuer
          in: query
          schema:
            type: string
        - name: network
          in: query
          schema:
            type: string
            enum: [visa, mastercard, amex, discover]
        - name: q
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated card catalog

  /valuations:
    get:
      operationId: getValuations
      summary: Points program valuations and org overrides
      responses:
        '200':
          description: Valuation programs and overrides

  /enrich:
    post:
      operationId: enrichMerchant
      summary: Resolve merchant MCC and category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichRequest'
      responses:
        '200':
          description: Merchant enrichment result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EnrichResponse'
                  requestId:
                    type: string

  /enrich/corrections:
    post:
      operationId: submitMccCorrection
      summary: Submit crowd-sourced MCC correction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MccCorrectionRequest'
      responses:
        '201':
          description: Correction submitted for review

  /changelog:
    get:
      operationId: getChangelog
      summary: Benefit change history across the catalog
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
        - name: cursor
          in: query
          schema:
            type: string
        - name: card_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated changelog events

  /cards/{card_id}/benefits:
    get:
      operationId: getCardBenefits
      summary: Versioned benefit rules for a card
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
        - name: as_of
          in: query
          schema:
            type: string
            format: date
        - name: version
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Benefit rules for the card

  /keys:
    get:
      operationId: listApiKeys
      summary: List API keys for the authenticated org
      responses:
        '200':
          description: API key summaries (prefix only, no secrets)
    post:
      operationId: createApiKey
      summary: Create a new API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: New API key created (raw key returned once)

  /keys/{key_id}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Key revoked

  /billing/subscription:
    get:
      operationId: getSubscription
      summary: Current org subscription and plan
      responses:
        '200':
          description: Subscription summary

  /billing/checkout:
    post:
      operationId: createCheckoutSession
      summary: Create Stripe Checkout session for plan upgrade
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [success_url, cancel_url]
              properties:
                plan:
                  type: string
                  enum: [payg, saas]
                success_url:
                  type: string
                  format: uri
                cancel_url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Checkout session URL

  /billing/portal:
    post:
      operationId: createBillingPortal
      summary: Create Stripe customer portal session
      responses:
        '200':
          description: Portal session URL

  /spend/summary:
    get:
      operationId: getSpendSummary
      summary: Cap spend summary for a user wallet
      parameters:
        - name: user_ref
          in: query
          schema:
            type: string
        - name: card_ids
          in: query
          required: true
          schema:
            type: string
            description: Comma-separated card IDs
      responses:
        '200':
          description: Spend by category and card

  /proxy-pay:
    post:
      operationId: proxyPay
      summary: Route purchase and return tokenized payment intent
      description: Requires FEATURE_PROXY_PAY. Uses paymentMethodToken or org default vaulted PM.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, userCardIds]
              properties:
                merchantName:
                  type: string
                mcc:
                  type: string
                amount:
                  $ref: '#/components/schemas/Money'
                userCardIds:
                  type: array
                  items:
                    type: string
                paymentMethodToken:
                  type: string
                idempotencyKey:
                  type: string
      responses:
        '200':
          description: Proxy pay routing result with payment intent
        '404':
          description: Proxy pay feature disabled
        '422':
          description: paymentMethodToken or vaulted PM required in production

  /billing/payment-methods:
    get:
      operationId: listVaultedPaymentMethods
      summary: List org vaulted Stripe payment methods
      responses:
        '200':
          description: Vaulted payment methods
    post:
      operationId: vaultPaymentMethod
      summary: Add or update a vaulted payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultPaymentMethod'
      responses:
        '201':
          description: Payment method vaulted

  /billing/payment-methods/{id}:
    delete:
      operationId: removeVaultedPaymentMethod
      summary: Remove a vaulted payment method
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment method removed

  /issuing/cardholders:
    post:
      operationId: createCardholder
      summary: Create a sandbox cardholder
      responses:
        '201':
          description: Cardholder created

  /issuing/cards/virtual:
    post:
      operationId: issueVirtualCard
      summary: Issue a sandbox virtual card
      responses:
        '201':
          description: Virtual card issued
    get:
      operationId: listVirtualCards
      summary: List virtual cards for a cardholder
      parameters:
        - name: cardholderId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Virtual cards

  /issuing/cards/virtual/{id}/status:
    patch:
      operationId: updateVirtualCardStatus
      summary: Freeze, unfreeze, or close a virtual card
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Updated virtual card

  /issuing/cards/physical/order:
    post:
      operationId: orderPhysicalCard
      summary: Submit a physical card shipping order
      responses:
        '201':
          description: Order submitted

  /issuing/cards/physical/orders:
    get:
      operationId: listPhysicalCardOrders
      summary: List physical card orders
      parameters:
        - name: cardholderId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Physical card orders

  /issuing/authorizations:
    get:
      operationId: listIssuingAuthorizations
      summary: List Issuing authorization ledger entries
      parameters:
        - name: cardholderId
          in: query
          schema:
            type: string
            format: uuid
        - name: virtualCardId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Authorization ledger

  /plaid/link-token:
    post:
      operationId: createPlaidLinkToken
      summary: Create a Plaid Link token
      responses:
        '200':
          description: Link token

  /plaid/exchange:
    post:
      operationId: exchangePlaidPublicToken
      summary: Exchange Plaid public token
      responses:
        '200':
          description: Linked accounts

  /plaid/accounts:
    get:
      operationId: listPlaidAccounts
      summary: List linked Plaid accounts
      responses:
        '200':
          description: Linked accounts

  /plaid/sync-transactions:
    post:
      operationId: syncPlaidTransactions
      summary: Import transactions into spend tracking
      responses:
        '200':
          description: Import summary

  /wallet/cards:
    get:
      operationId: listWalletCards
      summary: List server-backed wallet cards
      responses:
        '200':
          description: Wallet cards

  /spend/caps:
    get:
      operationId: getSpendCaps
      summary: Cap utilization by card
      responses:
        '200':
          description: Spend caps

  /spend/track:
    post:
      operationId: trackSpend
      summary: Record category spend
      responses:
        '200':
          description: Spend recorded

  /webhooks/deliveries:
    get:
      operationId: listWebhookDeliveries
      summary: Recent webhook delivery attempts for the org
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 100
            default: 50
      responses:
        '200':
          description: Delivery log entries

  /org/audit:
    get:
      operationId: getOrgAuditLog
      summary: Immutable audit log of org configuration changes
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 100
            default: 50
      responses:
        '200':
          description: Audit events (API keys, webhooks)

  /org/export:
    get:
      operationId: exportOrgData
      summary: GDPR data export for the authenticated org
      responses:
        '200':
          description: JSON bundle of org data

  /org:
    delete:
      operationId: deleteOrg
      summary: Schedule org deletion (30-day grace period)
      responses:
        '202':
          description: Deletion scheduled

  /public/billing/checkout:
    post:
      operationId: createConsumerCheckout
      summary: Start Consumer Premium Stripe Checkout
      security: []
      responses:
        '200':
          description: Checkout session URL

  /public/billing/status:
    get:
      operationId: getConsumerBillingStatus
      summary: Consumer subscription plan and status
      security: []
      responses:
        '200':
          description: Billing status

  /public/billing/portal:
    post:
      operationId: createConsumerBillingPortal
      summary: Stripe billing portal for Consumer Premium
      security: []
      responses:
        '200':
          description: Portal session URL

  /public/auth/export:
    get:
      operationId: exportConsumerData
      summary: GDPR export bundle for the authenticated consumer
      security: []
      responses:
        '200':
          description: Consumer data export JSON

  /public/auth/delete:
    post:
      operationId: scheduleConsumerDeletion
      summary: Schedule consumer account deletion after a 30-day grace period
      security: []
      responses:
        '202':
          description: Deletion scheduled and session cleared
    get:
      operationId: getConsumerDeletionStatus
      summary: Scheduled consumer deletion status
      security: []
      responses:
        '200':
          description: Deletion status or null

  /public/auth/delete/cancel:
    post:
      operationId: cancelConsumerDeletion
      summary: Cancel a scheduled consumer account deletion
      security: []
      responses:
        '200':
          description: Deletion cancelled

  /org/delete:
    get:
      operationId: getOrgDeletionStatus
      summary: Scheduled org deletion status
      responses:
        '200':
          description: Deletion status or null

  /org/delete/cancel:
    post:
      operationId: cancelOrgDeletion
      summary: Cancel a scheduled org deletion
      responses:
        '200':
          description: Deletion cancelled

  /openapi:
    get:
      operationId: getOpenApiSpec
      summary: OpenAPI 3.1 specification (YAML)
      security: []
      responses:
        '200':
          description: OpenAPI YAML document
          content:
            text/yaml:
              schema:
                type: string

  /openapi/json:
    get:
      operationId: getOpenApiJson
      summary: OpenAPI 3.1 specification (JSON)
      security: []
      responses:
        '200':
          description: OpenAPI JSON document

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Money:
      type: object
      required: [amountMinor, currency]
      properties:
        amountMinor:
          type: integer
          minimum: 0
        currency:
          type: string
          minLength: 3
          maxLength: 3

    MerchantEnrichment:
      type: object
      required: [merchantName, normalizedName, confidence, source]
      properties:
        merchantName:
          type: string
        normalizedName:
          type: string
        mcc:
          type: string
          pattern: '^\\d{4}$'
        category:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        source:
          type: string
          enum: [user, mcc_db, llm, override, issuer, plaid, unknown]

    RouteRequest:
      type: object
      required: [amount, userCardIds]
      properties:
        merchantName:
          type: string
        mcc:
          type: string
          pattern: '^\\d{4}$'
        amount:
          $ref: '#/components/schemas/Money'
        userCardIds:
          type: array
          items:
            type: string
          minItems: 1
        channel:
          type: string
          default: unknown
        isInternational:
          type: boolean
          default: false
        merchantEnrichment:
          $ref: '#/components/schemas/MerchantEnrichment'
        preferences:
          type: object
          properties:
            optimizeFor:
              type: string
              enum: [max_reward, min_fees, balanced]
            excludeCardIds:
              type: array
              items:
                type: string

    RankedCard:
      type: object
      properties:
        cardId:
          type: string
        rank:
          type: integer
        score:
          type: number
        effectiveMultiplier:
          type: number
        estimatedReward:
          $ref: '#/components/schemas/Money'
        applicableRuleIds:
          type: array
          items:
            type: string
        reasoning:
          type: string
        factors:
          type: array
          items:
            $ref: '#/components/schemas/RoutingFactor'

    RoutingFactor:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        value:
          oneOf:
            - type: string
            - type: number
        impactMinor:
          type: number
        weight:
          type: number
        category:
          type: string
          enum: [multiplier, valuation, cap, exclusion, fee, merchant]

    BatchRouteRequest:
      type: object
      required: [requests]
      properties:
        requests:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/RouteRequest'
        sharedUserCardIds:
          type: array
          items:
            type: string

    BatchRouteResponse:
      type: object
      properties:
        batchId:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/RouteResponse'
        total:
          type: integer
        succeeded:
          type: integer
        failed:
          type: integer
        errors:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: string
        computedAt:
          type: string
          format: date-time

    RouteResponse:
      type: object
      properties:
        requestId:
          type: string
        rankedCards:
          type: array
          items:
            $ref: '#/components/schemas/RankedCard'
        bestCardId:
          type: string
        merchantEnrichment:
          $ref: '#/components/schemas/MerchantEnrichment'
        computedAt:
          type: string
          format: date-time
        warnings:
          type: array
          items:
            type: string

    EnrichRequest:
      type: object
      required: [merchantName]
      properties:
        merchantName:
          type: string
        rawDescriptor:
          type: string
        mcc:
          type: string
        issuer:
          type: string
        receiptOcrText:
          type: string

    EnrichResponse:
      type: object
      properties:
        requestId:
          type: string
        enrichment:
          $ref: '#/components/schemas/MerchantEnrichment'
        descriptorParsed:
          type: boolean
        receiptParsed:
          type: boolean
        cached:
          type: boolean
        enrichedAt:
          type: string
          format: date-time

    MccCorrectionRequest:
      type: object
      required: [merchantName, mcc, category]
      properties:
        merchantName:
          type: string
        mcc:
          type: string
        category:
          type: string
        confidence:
          type: number
        notes:
          type: string

    VaultPaymentMethod:
      type: object
      required: [paymentMethodId]
      properties:
        paymentMethodId:
          type: string
        label:
          type: string
        network:
          type: string
        last4:
          type: string
          minLength: 4
          maxLength: 4
        setDefault:
          type: boolean
